@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    letter-spacing: .5rem;
    background: linear-gradient(to right, rgb(181, 222, 255), rgb(217, 152, 255));
    /* Standard syntax */
    width: 100%;
    text-align: center;
}

body * {
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.random {
    margin-top: 1rem;
}

.inputs {
    flex-direction: row;
}

input {
    height: 3rem;
    width: 3rem;
    padding: .1rem;
}

h1 {
    font: 600 3rem 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

h3 {
    font: 900 1rem 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-transform: none;
    letter-spacing: 0.01rem;
}

.copyField {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 30vh;
}


input.value {
    width: 100%;
    outline: none;
    padding: 10px 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
}



.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1 {
        font: 500 2rem 'Raleway', sans-serif;
    }

    h2 {
        font-size: 1.5rem;
    }
}